{% extends "base.html" %}

{% block body %}
  <div class="row">
    <div class="col">
      {% if current_user %}
        <p>You are logged in as <strong>{{ current_user.name }}</strong></p>
        <div class="account_actions">
          <a href="{{ url_for('account.logout') }}" class="btn">Log Out</a>
          <a href="{{ url_for('client.list_clients') }}" class="btn">Apps</a>
          <a href="{{ url_for('connect.list_connects') }}" class="btn">Connects</a>
        </div>
      {% else %}
        <p>You need to log in to play.</p>
        <div class="account_actions">
          <a href="{{ url_for('account.login') }}" class="btn">Log In</a>
          <a href="{{ url_for('account.signup') }}" class="btn">Sign Up</a>
        </div>
      {% endif %}
    </div>
  </div>
  
  <footer class="section">
    <div class="inner">
      <p>A <a href="https://hsiaoming.com/">Hsiaoming</a>'s project.
        Supported by these <a href="https://github.com/authlib/playground/blob/master/SUPPORTERS.md">awesome people</a>.
      </p>
    </div>
  </footer>
{% endblock %}
