{% macro render_field(field, label_html=None) %}
  {% if field.type == 'BooleanField' %}
  <div class="form-check {% if field.errors %} has-error{% endif %}">
  {% else %}
  <div class="form-group {% if field.errors %} has-error{% endif %}">
  {% endif %}

    {% if field.flags.required %}
      {{ field(class_="form-control input-lg", required=True, placeholder=field.description) }}
    {% elif field.type == 'BooleanField' %}
      {{ field(class_="form-check-input") }}  
    {% else %}
      {{ field(class_="form-control input-lg", placeholder=field.description) }}
    {% endif %}
    
    {% if field.type == 'BooleanField' %}
      <label for='{{ field.name }}' class='form-check-label'>{{ field.name }}</label>
    {% endif %}
    
    {% if field.errors %}
      <ul class="form-field_errors">
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_form(form) %}
  {% for field in form.hidden_fields() %}
    {{ field }}
  {% endfor %}
  {% for field in form.visible_fields() %}
    {{ render_field(field) }}
  {% endfor %}
{% endmacro %}
