{% extends "base.html" %}

{% block body %}
  <div class="row">
    <div class="col">
        <div class="jumbotron" id='jumbo'>
            <h1 class="display-4">Choose your cPRO tool!</h1>
            <p class="lead">{{ launch }}</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <div class="card-deck" id='menu'>
                  <div class="card" id='mpower-card'>
                    <div class='card-header bg-light'><img class="img-fluid" src="{{ url_for('static', filename='images/banner_mpower_white_lg.png') }}" alt="Card image cap"></div>
                    
                    <div class="card-body">
                      <p class="card-text">Describe this awesome app</p>
                      <a href="https://mpower.cpro.cirg.washington.edu/auth/sof/launch?iss=https://cpro.cirg.washington.edu/api&launch={{launch}}" class='btn btn-primary btn-lg btn-block'>Launch mPOWEr</a>

                    </div>
                  </div>
                  <div class="card" id='p3p-card'>
                    <div class='card-header bg-light'><img class="img-fluid" src="{{ url_for('static', filename='images/banner_usap3p.png') }}" alt="Card image cap"></div>
                    <div class="card-body">
                      <p class="card-text">Describe awesome app.</p>
                      <a href="https://p3p.cpro.cirg.washington.edu/auth/sof/launch?iss=https://cpro.cirg.washington.edu/api&launch={{launch}}" class='btn btn-primary btn-lg btn-block'>Launch P3P</a>
                    </div>
                  </div>
                  <div class="card" id='paintracker-card'>
                    <div class='card-header bg-light'><img class="img-fluid" src="{{ url_for('static', filename='images/banner_paintracker.png') }}" alt="Card image cap"></div>
                    <div class="card-body">
                      <p class="card-text">Describe.</p>
                      <a href="https://paintracker.cpro.cirg.washington.edu/auth/sof/launch?iss=https://cpro.cirg.washington.edu/api&launch={{launch}}" class='btn btn-primary btn-lg btn-block'>Launch Paintracker</a>

                    </div>
                  </div>
                </div>      
              </p>
          </div>

      </div>

      
    </div>
  </div>
  
{% endblock %}
