{% extends "client/base.html" %}

{% block client %}
  <div class='card'>
    <div class='card-header'>Registered Clients</div>
    <div class='card-body'>
      <div class='list-group'>
        {% for client in oauth2_clients %}
          <div class='list-group-item'>
              <a href="{{ url_for('client.edit_client', client_id=client.client_id) }}">{{ client.name }}</a>
              {% if client.website %}
                <p>{{ client.website }}</p>
              {% endif %}
              <p>Client ID: <strong>{{ client.client_id }}</strong></p>
              {% if client.client_secret %}
                <p>Client Secret: <strong>{{ client.client_secret }}</strong></p>
              {% endif %}
              <p>Scopes: {{ client.allowed_scopes }}</p>
              <p>Grants: {{ client.allowed_grants }}</p>
          </div>
        {% endfor %}
      </div>

    </div>
    <div class='card-footer'>
        <a href="{{ url_for('client.create_client') }}" class="btn btn-lg btn-block btn-primary">Register New Client</a>
    </div>
  </div>
{% endblock %}
